<h1>Riders.Tweakbox.API Password Reset</h1>
<p>Hello {{name}}, it seems like you have requested a password reset.<br />Please use this code<br/>{{code}}<br/>inside the password reset dialog provided.</p>
<h2>Not You?</h2>
<p>Welp, someone probably just registered an account using your e-mail. This sucks.</p>
<p>Please just ignore this email.</p>
<h2>Additional Note</h2>
<p>This software (<a href="https://github.com/Sewer56/Riders.Tweakbox.API">Riders.Tweakbox.API</a>) is free and open source. You are free to inspect, modify, share, redistribute and copy the software provided you comply with the <a href="https://github.com/Sewer56/Riders.Tweakbox.API">license of the software</a>.</p>