<h1>Riders.Tweakbox.API Registration Confirmation</h1>
<p>Hello {{ name }}, Sewer here.<br /><br />This is just a simple confirmation that an account was registered for statistics tracking using this Email Address.&nbsp;</p>
<p>Below is important information regarding data collected and your right to privacy with regards to the European Union's General&nbsp;Data Protection Regulation<em> (GDPR)</em>.&nbsp;</p>
<h2>The Information I Store</h2>
<p>For the purposes of transparency, here is a listing of all information stored about a user.</p>
<ul>
<li><strong>Your Email:</strong> Password Reset</li>
<li><strong>Your Username:</strong> Authentication</li>
<li><strong>Country:</strong> Automatically assigned on registration, can be changed later.</li>
<li><strong>Password Hash:</strong>
<ul>
<li>- A secure hash of your password.</li>
<li>- I do not store nor can retreieve your raw password.&nbsp;</li>
</ul>
</li>
<li><strong>Ranked Match Statistics:</strong>
<ul>
<li>Board</li>
<li>Character</li>
<li>Fastest Lap</li>
<li>Finish Time</li>
<li>Skill Rating (TrueSkill)</li>
</ul>
</li>
</ul>
<h2>Where the Information is Sourced From</h2>
<p>For the purposes of transparency, here is a listing of all information stored about a user.</p>
<ul>
<li><strong>Your Email, Username, Password Hash:</strong> You</li>
<li><strong>Ranked Match Statistics: </strong>Automatically calculated upon finishing a ranked match.</li>
</ul>
<h2>The Information I Collect (but not Store)</h2>
<ul>
<li><strong>Your IP Address:</strong> This is collected only once during account Registration to automatically assign country of origin.</li>
</ul>
<h2>Who The Information is Shared With</h2>
<p>Your information can be accessed online service (API) with other users:</p>
<ul>
<li>Other players playing multiplayer.</li>
<li>A Discord bot which pulls information from the database.</li>
</ul>
<p>For personal security reasons, your <strong>Email</strong> and <strong>Password Hash</strong> ARE <strong>NOT</strong> accessible through the service.</p>
<h2>Protecting Your Rights</h2>
<p>You legally have the right to request for various action to be taken related to any of your personal information:</p>
<ul>
<li>Request access to your raw account information.</li>
<li>Request deletion of your account information.</li>
</ul>
<p>If an option to perform any of these actions are not available in the Riders.Tweakbox UI; please email me directly.</p>
<h2>Not You?</h2>
<p>Welp, someone probably just registered an account using your e-mail. It's gonna suck if they ever forget their password.</p>
<p>Please just ignore this email or mail me back and I'll delete this account.</p>
<h2>Additional Note</h2>
<p>I am not a lawyer; this information is provided to you verbatim for the purposes of transparency.<br /><br />This software (<a href="https://github.com/Sewer56/Riders.Tweakbox.API">Riders.Tweakbox.API</a>) is free and open source. You are free to inspect, modify, share, redistribute and copy the software provided you comply with the <a href="https://github.com/Sewer56/Riders.Tweakbox.API">license of the software</a>.</p>